/* FIX ODOO SCROLL ISSUE */

body.o_web_client {
  overflow: hidden !important;
}

.o_web_client > .o_action_manager {
  overflow: hidden !important;
  min-height: 0 !important;
}

.o_web_client > .o_action_manager > .o_action {
  overflow: hidden !important;
  min-height: 0 !important;
}

.o_web_client .o_content {
  overflow-y: auto !important;
  overflow-x: hidden !important;
  min-height: 0 !important;
}
